/* The popup form - hidden by default */
.credits-popup {
  background-color: #FFFFFF;
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add styles to the form container */
.credits-container {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  padding: 20px;
  background-color: white;
}

.credits-container img {
  float: left;
  margin: 5px;
}
